.cart-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color:lightgray;
    transition: box-shadow 0.3s ease;
  }
  .cart-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  
  .cart-heading {
    text-align: center;
  }
  
  .cart-items-container {
    margin-top: 20px;
  }
  
  .empty-cart-message {
    text-align: center;
  }
  
  .cart-items-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .item-details {
    flex: 1;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .remove-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .cart-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }
  
  .total-text {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .total-price {
    font-weight: bold;
  }
  
  .checkout-button {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #0056b3;
  }